

.header {
    font-family: 'montserratextralight', Sans-Serif;
    font-size: 45px;
    line-height: 30px;
    font-weight: 100;
    padding: 20px;
    text-align: center;
}

.navigation{
    font-family: 'montserratextralight', Sans-Serif;
    line-height: 15px;
    font-weight: 100;
    text-align: right;
    word-spacing: 5px;
}

.section1{
    box-sizing: border-box;
    width: 100%;
    background-color: #b0e5d5;
    padding: 10px;
}

.aboutHeader{
    font-size: 20px;
    font-family: 'montserratextralight', Sans-Serif;
    font-weight: 100;
    line-height: 30px;
    text-align: center;
}

.bodyContent{
    font-size: 15px;
    font-family: 'montserratextralight', Sans-Serif;
    font-weight: 100;
    text-align: center;
}

.section2{
    box-sizing: border-box;
    width: 100%;
    position: relative;
    background-color: white;
    padding: 15px;
    
}

.box{
    width 100%;
    padding: 10px 15px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 12.5%;
}

.footer{
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    position: relative;
    background-color: #000033;
    padding: 45px;
}

.btn{
    width: 100px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    background-color: none;
    border-color:white;
    border-width: 3px;
    border-style: solid;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    font-family: Helvetica, Tahoma, sans-serif;
    font-weight: 100;
    margin: 4px 2px;
    color: white;
}

.copyright{
    box-sizing: border-box;
    width:100%;
    background-color: black;
    text-align: left;
    padding: 5px;
    font-size: 10px;
    font-family: Helvetica, Tahoma, sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    color: white;
}


