@font-face {
    font-family: 'montserratextralight';
    src: url('fonts/montserrat-extralight-webfont.eot');
    src: url('fonts/montserrat-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-extralight-webfont.woff2') format('woff2'),
         url('fonts/montserrat-extralight-webfont.woff') format('woff'),
         url('fonts/montserrat-extralight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratlight';
    src: url('fonts/montserrat-light-webfont.eot');
    src: url('fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('fonts/montserrat-light-webfont.woff') format('woff'),
         url('fonts/montserrat-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratmedium';
    src: url('fonts/montserrat-medium-webfont.eot');
    src: url('fonts/montserrat-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-medium-webfont.woff2') format('woff2'),
         url('fonts/montserrat-medium-webfont.woff') format('woff'),
         url('fonts/montserrat-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rochesterregular';
    src: url('fonts/rochester-regular-webfont.eot');
    src: url('fonts/rochester-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rochester-regular-webfont.woff2') format('woff2'),
         url('fonts/rochester-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    padding:0;
    margin: 0 auto;
    background-color: rgb(78, 78, 44);
    font-family: 'montserratextralight', helvetica, sans-serif;
    box-sizing: border-box;
    color: white;
    
}
*, *:before, *:after {
    box-sizing: inherit;
  }

header{
    background-color: white;
    height: 85px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    color: midnightblue;
}


nav{
    position: absolute;
    padding: 2px 0;
}

nav a{
    padding: 0;
    color: midnightblue;
}

nav a:hover{
    text-decoration: underline;
    font-family: 'montserratlight', helvetica, sans-serif;
    cursor: pointer;
}


footer{
    padding: 0;
    margin: 0 auto;
}

.footer-links{
    color: white;
    padding: 25px 0px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    font-size: 30px;
}

.footer-links a{
    padding: 0 15px;
    margin: 0 auto;
    color: white;
    transition: all 0.5s ease;
}

.footer-links a:hover{
    color:rgb(165, 168, 172);
    cursor: pointer;
}

.footer-links a:visted{
    color: white;
}

label{
    display: block;
    text-align: left;
    padding: 1em 0 5px;
    margin: 0;
}

input, select, textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.inner-content{
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

.middle-section{
    padding: 50px;
}

h1{
    font-family: 'rochesterregular', serif;
    font-size: 4.2em;
    color: white;
    margin:0;
    padding: 0;
    text-align: center;
}

textarea{
    height: 100px;
    resize: none;
}

.btn{
    padding: 10px;
    padding-top: 2em;
    margin: auto;
    width: 50%;
    text-align: center;
}

input[type="submit"] {
    width: auto;
    margin: 0 auto;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.4s ease;
}

input[type="submit"]:hover{
    color: white;
    background-color: darkgray;
    border-color: white;
}

@media only screen and (max-width: 768px){
    header{
        height: 50px;
    }
    
    nav{
        font-size: 10px;
    }
    
    .inner-content{
        padding: 0;
        margin: 0 auto;
        position: relative;
        height: 100%;
    }

    .middle-section{
        padding: 0;
        margin: 0;
    }

    label, input, select, textarea{
        font-size: 10px;
    }
}
