/* Always set the map height explicitly to define the size of the div
    * element that contains the map. */
#map {
height: 65%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
height: 100%;
margin: 0;
padding: 0;
}

@font-face {
    font-family: 'montserratextralight';
    src: url('fonts/montserrat-extralight-webfont.eot');
    src: url('fonts/montserrat-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-extralight-webfont.woff2') format('woff2'),
         url('fonts/montserrat-extralight-webfont.woff') format('woff'),
         url('fonts/montserrat-extralight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratlight';
    src: url('fonts/montserrat-light-webfont.eot');
    src: url('fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('fonts/montserrat-light-webfont.woff') format('woff'),
         url('fonts/montserrat-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratmedium';
    src: url('fonts/montserrat-medium-webfont.eot');
    src: url('fonts/montserrat-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-medium-webfont.woff2') format('woff2'),
         url('fonts/montserrat-medium-webfont.woff') format('woff'),
         url('fonts/montserrat-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rochesterregular';
    src: url('fonts/rochester-regular-webfont.eot');
    src: url('fonts/rochester-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rochester-regular-webfont.woff2') format('woff2'),
         url('fonts/rochester-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'montserratextralight', helvetica, sans-serif;
    padding: 0;
}

header {
    position: relative;
    /* text-align: center; */
    background-color: rgb(77, 83, 89);
    padding: 42px;
}


a {
    color: white;
    text-decoration: none;
    font-size: 1.4em;
    padding: 20px;
}
a:hover {
    color: rgb(208, 254, 245);
    text-decoration: underline;
}

a:clicked {
    color: white;
    text-decoration: none;
}

i {
    font-size: 2.4em;
    color: white;
    font-weight: 200;
    position: absolute;
    right: 60px;
    top: 25px;
}

i:hover {
    color: rgb(208, 254, 245);
}
 
#jenks {
    font-family: 'rochesterregular', serif;
    position: absolute;
    right: 60px;
    top: 70px;
    color: white;
}