@font-face {
    font-family: 'montserratextralight';
    src: url('fonts/montserrat-extralight-webfont.eot');
    src: url('fonts/montserrat-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-extralight-webfont.woff2') format('woff2'),
         url('fonts/montserrat-extralight-webfont.woff') format('woff'),
         url('fonts/montserrat-extralight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratlight';
    src: url('fonts/montserrat-light-webfont.eot');
    src: url('fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('fonts/montserrat-light-webfont.woff') format('woff'),
         url('fonts/montserrat-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratmedium';
    src: url('fonts/montserrat-medium-webfont.eot');
    src: url('fonts/montserrat-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-medium-webfont.woff2') format('woff2'),
         url('fonts/montserrat-medium-webfont.woff') format('woff'),
         url('fonts/montserrat-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rochesterregular';
    src: url('fonts/rochester-regular-webfont.eot');
    src: url('fonts/rochester-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rochester-regular-webfont.woff2') format('woff2'),
         url('fonts/rochester-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    padding:0;
    margin: 0;
    background-color: rgb(78, 78, 44);
    font-family: 'montserratextralight', helvetica, sans-serif;
}

header{
    background-color: white;
    height: 85px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav{
    position: absolute;
    padding: 2px 0;
}

nav a{
    padding-left: 1.5em;
    color: midnightblue;
}

nav a:hover{
    text-decoration: underline;
    font-family: 'montserratlight', helvetica, sans-serif;
}

h1{
    font-family: 'rochesterregular', serif;
    font-size: 4em;
    color: white;
    margin:0;
    padding: 0;
}

h4{
    font-family: 'montserratlight', helvetica, sans-serif;
    font-size: 1.4em;
    color: white;
    transform: translateX(-10%);
}

.inner-content{
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

.top-section{
    position: relative;
    height: 150px;
    width: 100%;
    color: white;
    text-align: center;
    transform: translate(-15%,-15%);
}

.center-content{
    position: absolute;
    width: 100%;
}

.middle-section{
    position: relative;
    background-color: rgb(58, 58, 58);
    text-align: center;
    height: 1000px;
}