@font-face {
    font-family: 'montserratextralight';
    src: url('fonts/montserrat-extralight-webfont.eot');
    src: url('fonts/montserrat-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-extralight-webfont.woff2') format('woff2'),
         url('fonts/montserrat-extralight-webfont.woff') format('woff'),
         url('fonts/montserrat-extralight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratlight';
    src: url('fonts/montserrat-light-webfont.eot');
    src: url('fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('fonts/montserrat-light-webfont.woff') format('woff'),
         url('fonts/montserrat-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratmedium';
    src: url('fonts/montserrat-medium-webfont.eot');
    src: url('fonts/montserrat-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-medium-webfont.woff2') format('woff2'),
         url('fonts/montserrat-medium-webfont.woff') format('woff'),
         url('fonts/montserrat-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rochesterregular';
    src: url('fonts/rochester-regular-webfont.eot');
    src: url('fonts/rochester-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rochester-regular-webfont.woff2') format('woff2'),
         url('fonts/rochester-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    padding:0;
    margin: 0 auto;
    background-color: rgb(78, 78, 44);
    font-family: 'montserratextralight', helvetica, sans-serif;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

header{
    background-color: white;
    height: 85px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
}

header i{
    right: 0;
    font-weight: 100;
    color: midnightblue;
}

nav{
    position: absolute;
    padding: 2px 0;
}

nav a{
    padding:0;
    color: midnightblue;
}

nav a:hover{
    text-decoration: underline;
    font-family: 'montserratlight', helvetica, sans-serif;
}

h1{
    font-family: 'rochesterregular', serif;
    font-size: 4.2em;
    color: white;
    margin:0;
    padding: 0;
}


h2{
    font-family: 'montserratlight', helvetica, sans-serif;
    font-size: 1.9em;
    color: rgb(173, 173, 173);
    transform: translateX(-3%);
    text-align: left;
    padding: 0;
    margin: 0 auto 20px;
}

h3{
    font-family: 'montserratlight', helvetica, sans-serif;
    font-size: 1.2em;
    color: white;
    margin: 0 auto;
    padding: 0;
    text-align: left;
}

h4{
    font-family: 'montserratlight', helvetica, sans-serif;
    font-size: 1em;
    font-weight: 800;
    margin: 0 auto;
    padding: 0;
    text-align: right;
    /* transform: translateX(-15%); */
    color: rgb(173, 173, 173);
}

h5{
    font-family: 'montserratlight', helvetica, sans-serif;
    font-size: 1em;
    margin: 0 auto;
    padding: 0 0 8px;
    color: rgb(173, 173, 173);
    text-align: left;
    font-style: italic;
}

p{
    font-size: 18px;
    padding: 15px;
    margin: 10px;
}


i{
    font-size: 2.5em;
    padding: 0;
    margin: 0 auto;
}


footer{
    padding: 0;
    margin: 0 auto;
}


.inner-content{
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    background-color: rgb(58, 58, 58);
}

.top-section{
    position: relative;
    display: flex;
    height: 150px;
    width: 100%;
    color: white;
    text-align: center;
    justify-content: center;
    /* transform: translate(-15%,-15%); */
    padding: 0;
    margin: 0 auto;
}

.top-section p{
    padding: 10px 75px 25px 0px;
}

.line{
    position: relative;
    height: 1px;
    width: 100%;
    padding: 0;
    margin: 50px 0 auto;
    background-color: white;
}

.center-content{
    position: absolute;
    width: 100%;
    padding: 0;
}


.middle-section{
    box-sizing: border-box;
    position: relative;
    margin-top: 0;
    padding-top: 0;
    text-align: center;
    display: block;
    height: 1550px;
}


.PE{
    box-sizing: border-box;
    padding: 0;
    margin: 15px 0;
    padding: 0 120px 0 0;
}

.PE p{
    font-size: .8em;
    padding: 0 20px 0 0;
    margin: 5px 10px;
    text-align: left;
    color: white;
}

.Ed{
    box-sizing: border-box;
    padding: 0;
    margin: 15px 0;
    padding: 0 120px 0 0;
}

.Ed p{
    font-size: .8em;
    padding: 0 20px 0 0;
    margin: 5px 10px;
    text-align: left;
    color: white;
}

.IE {
    box-sizing: border-box;
    padding: 0;
    margin: 15px 0;
    padding: 0 120px 0 0;
}

.IE p{
    font-size: .8em;
    padding: 0 20px 0 0;
    margin: 5px 10px;
    text-align: left;
    color: white;
}

.top-link{
    position: relative;
    color: white;
    padding: 0;
    margin: 0 auto;
}

.top-link a{
    text-decoration: none;
    /* padding: 0;
    margin: 0; */
}
.top-link i{
    transition: all 0.4s ease;
}
.top-link i:hover{
    color: rgb(165, 168, 172);
}

.top-link a:visited{
    text-decoration: none;
    color: white;
}

.top-link i:active{
    color: rgb(68, 66, 66);
}

.footer-links{
    color: white;
    padding: 25px 0px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    font-size: 35px;
}



.footer-links a{
    padding: 0 15px;
    margin: 0 auto;
    color: white;
    transition: all 0.5s ease;
    
}

.footer-links a:hover{
    color:rgb(165, 168, 172);
}

.footer-links a:visted{
    color: white;
}
