@font-face {
    font-family: 'montserratextralight';
    src: url('fonts/montserrat-extralight-webfont.eot');
    src: url('fonts/montserrat-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-extralight-webfont.woff2') format('woff2'),
         url('fonts/montserrat-extralight-webfont.woff') format('woff'),
         url('fonts/montserrat-extralight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratlight';
    src: url('fonts/montserrat-light-webfont.eot');
    src: url('fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('fonts/montserrat-light-webfont.woff') format('woff'),
         url('fonts/montserrat-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratmedium';
    src: url('fonts/montserrat-medium-webfont.eot');
    src: url('fonts/montserrat-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-medium-webfont.woff2') format('woff2'),
         url('fonts/montserrat-medium-webfont.woff') format('woff'),
         url('fonts/montserrat-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rochesterregular';
    src: url('fonts/rochester-regular-webfont.eot');
    src: url('fonts/rochester-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rochester-regular-webfont.woff2') format('woff2'),
         url('fonts/rochester-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    padding:0;
    margin: 0 auto;
    background-color: rgb(78, 78, 44);
    font-family: 'montserratextralight', helvetica, sans-serif;
    box-sizing: border-box;
    
}
*, *:before, *:after {
    box-sizing: inherit;
  }

header{
    background-color: white;
    height: 85px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
}


nav{
    position: absolute;
    padding: 2px 0;
}

nav a{
    padding: 0;
    color: midnightblue;
}

nav a:hover{
    text-decoration: underline;
    font-family: 'montserratlight', helvetica, sans-serif;
}


footer{
    padding: 0;
    margin: 0 auto;
}

.footer-links{
    color: white;
    padding: 25px 0px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    font-size: 30px;
}

.footer-links a{
    padding: 0 15px;
    margin: 0 auto;
    color: white;
    transition: all 0.5s ease;
}

.footer-links a:hover{
    color:rgb(165, 168, 172);
}

.footer-links a:visted{
    color: white;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0;
  }

.responsive-image {
    max-width: 100%;
}

.cell {
    width: 30%;
    padding: 0;
    margin: 0;
}

.cell img {
    display: block;
}

  
.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
    margin: 0;
}


@media only screen and (max-width: 768px){
    header{
        height: 50px;
    }
    
    nav{
        font-size: 10px;
    }
    .inner-content{
        max-width: 768px;
        margin: 0 auto;
        position: relative;
        height: 100%;
    }
   
    .grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .cell {
    width: 50%;
    }
}
